# Ans 1:

In [1]:
"""
A database is a structured collection of data that is organized and stored in a way that allows efficient retrieval, management, and manipulation of information.

# SQL (Structured Query Language) Databases:
SQL databases are based on a structured data model and use a relational schema to define tables, columns, and relationships between them.
Data is stored in tables with rows and columns.
Examples of SQL Database - MySQl,MsSQL.

# NoSQL(Not Only Structured Query Language) Databases:
NoSQL databases are designed to handle large volumes of unstructured or semi-structured data.
Data can be stored in form of texts,videos,images.
Example of NoSQL Database - MongoDB,Oracle,Neo4j

"""

'\nA database is a structured collection of data that is organized and stored in a way that allows efficient retrieval, management, and manipulation of information.\n\n# SQL (Structured Query Language) Databases:\nSQL databases are based on a structured data model and use a relational schema to define tables, columns, and relationships between them.\nData is stored in tables with rows and columns.\nExamples of SQL Database - MySQl,MsSQL.\n\n# NoSQL(Not Only Structured Query Language) Databases:\nNoSQL databases are designed to handle large volumes of unstructured or semi-structured data.\nData can be stored in form of texts,videos,images.\nExample of NoSQL Database - MongoDB,Oracle,Neo4j\n\n'

# Ans 2:

In [4]:
"""
DDL (Data Definition Language): 
# DDL is a subset of SQL (Structured Query Language) used to define and manage the structure of a database, including creating, modifying,
  and deleting database objects such as tables, indexes, and constraints.
# DDL statements do not deal with the actual manipulation of data. 
"""
# The 'CREATE' statement is used to create new database objects.
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists Information ")
mycursor.execute("CREATE TABLE if not exists Information.STUDENTS (ID INT,Name VARCHAR(50),Marks FLOAT)")
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f881bb125b0>

In [5]:
# The ALTER statement is used to modify existing database objects, such as adding, modifying, or deleting columns from a table.
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE Information.STUDENTS ADD COLUMN Branch VARCHAR(40)")
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f881bb128e0>

In [6]:
# The DROP statement is used to delete existing database objects, such as tables,columns, views, and indexes.
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE Information.STUDENTS DROP COLUMN Branch")
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f881bb12df0>

In [7]:
#The TRUNCATE statement is used to remove all rows from a table, but it retains the structure of the table. 
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("TRUNCATE TABLE Information.STUDENTS")
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f881bb12550>

# Ans 3:

In [8]:
"""
DML stands for Data Manipulation Language. It's a subset of SQL used to interact with and manipulate data stored in a database.
DML consists of three main operations: INSERT, UPDATE, and DELETE.
"""

"\nDML stands for Data Manipulation Language. It's a subset of SQL used to interact with and manipulate data stored in a database.\nDML consists of three main operations: INSERT, UPDATE, and DELETE.\n"

In [12]:
# INSERT: It adds new records (rows) to a table.
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE if not exists Information.employees(ID INT,Name VARCHAR(50),PROFESSION VARCHAR(50),SALARY INT)")
mycursor.execute("INSERT INTO Information.employees values(1639,'AJAY','DATA SCIENTIST',100000)")
mydb.commit()
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f881bb12a90>

In [13]:
#UPDATE: It modifies existing records in a table.
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("UPDATE Information.employees SET SALARY = 200000 WHERE ID = 1639")
mydb.commit()
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f883c06c790>

In [14]:
# DELETE: It removes records from a table.
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("DELETE FROM Information.employees WHERE ID = 1639")
mydb.commit()
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f881bb12580>

# Ans 4:

In [15]:
"""
DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database.
The primary command in DQL is the SELECT statement,
which allows you to specify the columns you want to retrieve and the conditions for filtering the data.
"""

'\nDQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database.\nThe primary command in DQL is the SELECT statement,\nwhich allows you to specify the columns you want to retrieve and the conditions for filtering the data.\n'

In [16]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("INSERT INTO Information.employees values(1639,'AJAY','DATA SCIENTIST',100000)")
mycursor.execute("INSERT INTO Information.employees values(1640,'NAMAN','SDE',200000)")
mydb.commit()
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f88344b0f70>

In [20]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SELECT ID,Name,PROFESSION,SALARY FROM Information.employees WHERE SALARY>100000")
for i in mycursor.fetchall():
    print(i)
mydb.commit()
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f881bd70850>
(1640, 'NAMAN', 'SDE', 200000)

# Ans 5:

In [23]:
"""
PRIMARYY KEY:
A primary key is a column or set of columns in a database table that uniquely identifies each record (row) in that table.
Each value in the primary key column must be unique.
The primary key column cannot contain null values.
"""

"""
FOREIGN KEY:
A foreign key is a column or set of columns in a table that establishes a link between the data in two tables.
It creates a relationship between tables by referencing the primary key of another table.
A foreign key references the primary key of another table.
It ensures that values in the foreign key column correspond to existing values in the referenced primary key column.
"""

'\nFOREIGN KEY:\nA foreign key is a column or set of columns in a table that establishes a link between the data in two tables.\nIt creates a relationship between tables by referencing the primary key of another table.\nA foreign key references the primary key of another table.\nIt ensures that values in the foreign key column correspond to existing values in the referenced primary key column.\n'

# Ans 6:

In [24]:
# The code to connect MySQl to Pythonn:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password" # You can also name the database you are working in as (database = "yourdatabase")
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f881bd508b0>
('Information',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [25]:
# THE CURSOR() METHOD
# The cursor() method is used to create a cursor object, which allows you to interact with the MySQL database.
# A cursor acts as a pointer to a specific row of data and provides methods for executing SQL queries and fetching results.


# THE EXECUTE() METHOD
# The execute() method is used to execute SQL queries through the cursor.
# You pass the SQL query as a parameter to the execute() method.
# The cursor processes the query and communicates with the database to perform the requested operation

# Ans 7:

In [27]:
"""
The clauses are generally executed in the following order:
1.SELECT
2.FROM
3.WHERE 
4.GROUP BY
5.ORDER BY
6.INSERT 
7.UPDATE
8.DELETE
"""

'\nThe clauses are generally executed in the following order:\n1.SELECT\n2.FROM\n3.WHERE \n4.GROUP BY\n5.ORDER BY\n6.INSERT \n7.UPDATE\n8.DELETE\n'